@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.top {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.screen1 {
    margin: 100px 18px;
}

.sc1_firstQuizz {
    width: 100%;
    height: 180px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 33px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sc1_firstQuizz div:first-child {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
}

.sc1_firstQuizz div:last-child {
    width: 150px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc1_userQuizzes {
    margin-bottom: 42px;
}

.sc1_userQuizzes_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sc1_userQuizzes_title span {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sc1_userQuizzes_title ion-icon {
    font-size: 30px;
    color: #EC362D;
}

.sc1_otherQuizzes_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sc1_otherQuizzes_content {
    margin-top: 14px;
}

.sc1_thumbnail {
    width: 100%;
    height: 48vw;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    margin-bottom: 14px;
}

.sc1_thumbnail div {
    width: calc(100% - 40px);
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: left;
    word-break: break-word;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.screen2 {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc2_banner {
    width: 100vw;
    height: 142px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc2_banner h1 {
    width: 100vw;
    height: 54px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc2_question {
    width: 340px;
    height: 89px;
    margin-top: 42px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc2_question h1 {
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

.boxAnswers {
    width: 340px;
    height: 153px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.answer img {
    width: 163px;
    height: 113px;
}

.answer p {
    width: 163px;
    height: 22px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
}

.opacity {
    opacity: 0.5;
}

.sc2_level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 375px;
    height: auto;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 54px;
    background-color: aqua;
}

.sc2_leveltopo {
    background-color: #EC362D;
    margin-top: 18px;
    width: 340px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc2_leveltopo h1{
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

.sc2_level img{
    margin-top: 9px;
    width: 340px;
    height: 225px;
}

.sc2_level span{
    margin-top: 9px;
    margin-bottom: 14px;
    width: 340px;
    height: auto;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.sc2_restart {
    background-color: #EC362D;
    border-radius: 15px;
    margin-top: 34px;
    width: 220.32px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc2_restart h1{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFF5F4;
}

.sc2_buttonHome {
    margin-top: 8px;
    margin-bottom: 66px;
    width: 220.32px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen3 {
    margin-top: 100px;
}

.screen3 input {
    width: 90vw;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    padding-left: 15px;
}

.screen3 input::placeholder {
    font-style: italic;
    color: #BABABA;
}

.sc3_content_1 div:last-child,
.sc3_content_2 div:last-child,
.sc3_content_3 div:last-child {
    width: 85vw;
    height: 55px;
    background-color: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.sc3_content_2 div:last-child {
    margin: 45px auto;
}

.sc3_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}

.sc3_basicInfoBox {
    width: 100vw;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sc3_questionCreatingBox {
    width: 100vw;
    height: 825px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sc3_questionCreatingBox div {
    width: 90vw;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sc3_questionCreatingBox input:nth-child(3),
.sc3_questionCreatingBox input:nth-child(6),
.sc3_questionCreatingBox input:nth-child(9),
.sc3_questionCreatingBox input:nth-child(11) {
    margin-bottom: 25px;
}

.sc3_questionToCreateBox {
    width: 100vw;
    height: 75px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 0px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.sc3_questionToCreateBox img {
    width: 25px;
}

.sc3_levelCreatingBox {
    width: 100vw;
    height: 440px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sc3_levelCreatingBox div {
    width: 90vw;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sc3_levelCreatingBox textarea {
    width: 90vw;
    height: 180px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    padding: 15px;
    resize: none;
}

.sc3_levelCreatingBox textarea::placeholder {
    font-style: italic;
    color: #BABABA;
}

.sc3_levelToCreateBox {
    width: 100vw;
    height: 75px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 0px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.sc3_thumbnail {
    width: 90vw;
    height: 48vw;
    background-size: cover;
    border-radius: 5px;
    position: relative;
}

.sc3_thumbnail div {
    width: calc(90vw - 40px);
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: left;
    word-break: break-word;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.sc3_content_4 div:nth-child(3) {
    width: 60vw;
    height: 55px;
    background-color: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.sc3_backToHome {
    width: 90vw;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #818181;
    margin: 25px auto;
}

@media (min-width: 1100px) {
    .screen1 {
        width: 1050px;
        margin: 150px auto;
    }

    .sc1_firstQuizz {
        margin-bottom: 72px;
    }

    .sc1_userQuizzes_title {
        justify-content: flex-start;
    }

    .sc1_userQuizzes_title span {
        margin-right: 18px;
    }

    .sc1_otherQuizzes_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .sc1_thumbnail {
        width: 340px;
        height: 180px;
    }

    .sc1_thumbnail:hover,
    .sc1_firstQuizz div:last-child:hover,
    .sc1_userQuizzes_title ion-icon:hover {
        cursor: pointer;
    }

    .sc1_thumbnail_margin_right {
        margin-right: 15px;
    }

    .sc2_banner {
        height: 227px;
    }

    .sc2_banner h1 {
        font-size: 39px;
    }

    .sc2_question {
        width: 689px;
        height: 138px;
        margin-top: 70px;
    }

    .sc2_question h1 {
        font-size: 23px;
    }

    .boxAnswers {
        width: 689px;
        height: 237px;
        padding-top: 19px;
    }

    .answer img {
        width: 332px;
        height: 175px;
    }

    .answer p {
        font-size: 20px;
        width: 332px;
        height: 34px;
        margin-top: 10px;
    }

    .sc2_level {
        width: 759px;
        height: 430px;
    }

    .sc2_level img{
        width: 364px;
        height: 273px;
    }

    .sc2_level span{
        width: 328px;
        height: 250px;
        font-size: 19px;
    }

    .screen3 {
        margin-top: 140px;
    }

    .screen3 input {
        width: 565px;
        padding-left: 25px;
    }

    .sc3_content_1 div:last-child,
    .sc3_content_2 div:last-child,
    .sc3_content_3 div:last-child {
        width: 350px;
        font-size: 21px;
        line-height: 25px;
        margin: 80px auto;
    }

    .sc3_title {
        font-size: 23px;
        line-height: 27px;
    }

    .sc3_basicInfoBox {
        width: 600px;
        margin: 0px auto;
    }

    .sc3_questionCreatingBox {
        width: 600px;
        margin: 0px auto;
    }

    .sc3_questionCreatingBox div {
        width: 100%;
        padding: 0px 18px;
    }

    .sc3_questionToCreateBox {
        width: 600px;
        margin: 25px auto;
    }

    .sc3_levelCreatingBox {
        width: 600px;
        height: 315px;
        margin: 0px auto;
    }
    
    .sc3_levelCreatingBox div {
        width: 100%;
        padding: 0px 18px;
    }

    .sc3_levelCreatingBox textarea {
        width: 565px;
        height: 46px;
        padding: 10px 25px;
        display: flex;
        align-items: center;
    }

    .sc3_levelToCreateBox {
        width: 600px;
        margin: 25px auto;
    }

    .sc3_thumbnail {
        width: 500px;
        height: 265px;
    }
    
    .sc3_thumbnail div {
        width: calc(100% - 40px);
        font-size: 23px;
        line-height: 27px;
    }

    .sc3_content_4 div:nth-child(3) {
        width: 220px;
        height: 45px;
        font-size: 21px;
        line-height: 25px;
        margin: 45px auto 25px auto;
    }
    
    .sc3_backToHome {
        width: 100%;
        font-size: 21px;
        line-height: 25px;
        margin: 25px auto;
    }
}