@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.top {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.sc1_content {
    margin: 100px 18px;
}

.sc1_firstQuizz {
    width: 100%;
    height: 180px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 33px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sc1_firstQuizz div:first-child {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
}

.sc1_firstQuizz div:last-child {
    width: 150px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc1_userQuizzes {
    margin-bottom: 42px;
}

.sc1_userQuizzes_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sc1_userQuizzes_title span {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sc1_userQuizzes_title ion-icon {
    font-size: 30px;
    color: #EC362D;
}

.sc1_otherQuizzes_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sc1_otherQuizzes_content {
    margin-top: 14px;
}

.sc1_thumbnail {
    width: 100%;
    height: 48vw;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    margin-bottom: 14px;
}

.sc1_thumbnail div {
    width: calc(100% - 40px);
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: left;
    word-break: break-word;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.sc2_content {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc2_banner {
    width: 100vw;
    height: 142px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc2_banner h1{
    width: 100vw;
    height: 54px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc2_question{
    width: 340px;
    height: 89px;
    margin-top: 42px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc2_question h1{
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxAnswers {
    width: 340px;
    height: 153px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.answer img {
    width: 163px;
    height: 113px;
}

.answer p {
    width: 163px;
    height: 22px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 13px;
    color:#000000;
}

.opacity {
    opacity: 0.5;
}

@media (min-width: 1100px) {
    .sc1_content {
        width: 1050px;
        margin: 150px auto;
    }

    .sc1_firstQuizz {
        margin-bottom: 72px;
    }

    .sc1_userQuizzes_title {
        justify-content: flex-start;
    }

    .sc1_userQuizzes_title span {
        margin-right: 18px;
    }

    .sc1_otherQuizzes_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .sc1_thumbnail {
        width: 340px;
        height: 180px;
    }

    .sc1_thumbnail:hover,
    .sc1_firstQuizz div:last-child:hover,
    .sc1_userQuizzes_title ion-icon:hover {
        cursor: pointer;
    }

    .sc1_thumbnail_margin_right {
        margin-right: 15px;
    }
    
    .sc2_banner {
        height: 227px;
    }

    .sc2_banner h1{
        font-size: 39px;
    }

    .sc2_question{
        width: 689px;
        height: 138px;
        margin-top: 70px;
    }

    .sc2_question h1{
        font-size: 23px;
    }

    .boxAnswers {
        width: 689px;
        height: 237px;
        padding-top: 19px;
    }
    
    .answer img {
        width: 332px;
        height: 175px;
    }
    .answer p {
        font-size: 20px;
        width: 332px;
        height: 34px;
        margin-top: 10px;
    }
}